<%= yield %>

<%= render 'users/userinfo',user: @user %>
<%= render 'new',book: @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
    <table class="table">
    <tbody>
      <% @books.each do |book| %>
    <tr>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td class="btn btn-sm btn-success"><% if book.user == current_user %>
      <%= link_to "Edit", edit_book_path(book.id) %>
      <% end %></td>
      <td class="btn btn-sm btn-danger"><% if book.user == current_user %>
      <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
      <% end %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
